body{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    background-color: white;
}
.tools{
    text-align: right;
    margin-top: 15px;
    padding-right: 15px;
}
a{
    color: rgb(32, 32, 32);
    font-size: 14px;
}
div{
    display: block;
    align-items: center;
    text-align: center;
}
.logo{
    margin-top: 110px;
    align-items: center;
    text-align: center;
    height: 50px;
    margin-bottom: 20px;
}  
input{
    margin: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: var(--ntp-realbox-border-radius);
    color: rgb(20, 20, 20);
    height: 225px;
    width: 600px;
    --ntp-realbox-border-radius: calc(0.5 * var(--ntp-realbox-height));
    --ntp-realbox-height: 44px;
    --ntp-realbox-shadow: 0 1px 6px 0 rgba(68, 69, 73, 0.28);
    border-radius: var(--ntp-realbox-border-radius);
    box-shadow: var(--ntp-realbox-shadow);
    font-size: 16px;
    height: var(--ntp-realbox-height);
    padding-left: 40px; 

}
.links{
    align-items: center;
    height: 170px;
    width: 97vw;
    display: flex;
    position: relative;
    justify-content: center;
    background-color: white;
}
.youtube{
    max-height: 100%;
    width: auto;
    object-fit: contain;
    padding: 10px;
}
.extensions{
    max-height: 100%;
    width: auto;
    object-fit: contain;
    padding: 10px;
}
.w3schools{
    height: 100%;
    width: auto;
    object-fit: contain;
    padding: 10px;
}
img{
    width: auto;
    height: auto;
    max-width: 70px;
    max-height: 70px;
}
p{
    font-size: 14px;
    color: rgb(32, 32, 32);
}